# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [154]:
number = 6
print (number+2)

8

##### Assinging float

In [172]:
numberFloat= 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [176]:
num1=2
num2=5.4
result = num1+ num2
print(result)
new_result=result+2
print(new_result)

7.4
9.4

##### Subtraction

In [182]:
result_diff=num2 - num1
print(result_diff)
result_diff -=1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [188]:
result_mul = num1 + num2
print(result_mul)
result_mul *= 2
print(result_mul)

7.4
14.8

##### Division

In [190]:
result_div = num2/num1
print(result_div)

result_div /=3
print(result_div)

2.7
0.9

##### Floor Division

In [194]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [198]:
result_mod = num2%num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [204]:
square = 5** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [1]:
name = 'Sam'
print(name)

Sam

##### print() <br>
<p>Don't forget about end=' '</p>

In [35]:
print(name +' is my name')

Sam is my name

##### String Concatenation

In [4]:
first = "Sam"
Last = "Collins"
full = first+ ' ' + Last
print(full)
full += ", jr"
print(full)

Sam Collins
Sam Collins, jr

##### Type Conversion

In [47]:
number = '32'
change = int(number)
print(number)
print(change +1)

32
33

##### input()

In [8]:
age = int(input("What is your age?"))
add_age= age+5
print(add_age)

What is your age? 27

32

##### format()

In [10]:
age = input("What is your age?")
result = "You are {}, {} and getting wiser".format(age,name)
print(result)

result_again = f"{age} is a great time in life."
print(result_again)

What is your age? 27

You are 27, Sam and getting wiser
27 is a great time in life.

##### Old Way (python 2)

In [55]:
result = "You are %s and you look great."%age
print(result)

You are 27 and you look great.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
name = input("What is your name?")
color = input("What color is your car?")
year = input("What year is your car?")
model = input("What model is your car?")
results = f"{name}, your {year} {model}'s color is {color}."
print(results)

What is your name? Sam
What color is your car? grey
What year is your car? 2013
What model is your car? Honda

Sam, your 2013 Honda's color is grey.

### If Statements

In [14]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("Equal values")

num2 is greater

##### 'is' keyword

In [16]:
num = 55
if num is 55:
    print("Yes")

Yes

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_80/3511235458.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num is 55:

##### 'in' keyword

In [20]:
character= "Frodo"
if "o" in character:
    print('Yes')

Yes

##### 'not in' keyword'

In [22]:
character= "Frodo"
if "a" not in character:
    print('Yes')

Yes

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [81]:
range = input("Enter a sentence.")
if "p" in range:
    print("yes")

Enter a sentence. plus

yes

## Using 'and'/'or' with If Statements

In [26]:
num11= 15
num12= 3
num13= 10
num14= 3

if num11/5 == num12 and num13-7 == num14:
    print('true and true')

if num11 > num12 or num13 == num14:
    print('true and false')

true and true
true and false

### Elif Statements

In [32]:
first_name = input("What is your name?")
if first_name =="Smith":
    print("Your name is Smith.")
elif first_name == "Sam":
    print("Your name is Sam")
elif first_name != "Max":
    print("Your name is not Max")
else:
    print("The name is Max")

What is your name? sasads

Your name is not Max

### Else Statements

In [99]:
a=15
b=3
c=10
d=3

if a/5 == d and c+2 == 14:
    print('false')
else:
        print('true')

true

### For Loops

In [36]:
name= "Sam Collins"
a_list={1,2,3,4}
for i in a_list:
    print(a_list)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [42]:
name = "Sam Collins"

for i in name:
    if i=="a":
        continue
    print(i)

S
m

C
o
l
l
i
n
s

##### Break Statement

In [ ]:
# will break out of current loop

In [51]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [162]:
for i in name:
    pass

##### Double For Loops

In [57]:
for i in range(5):
    for j in range(5):
        print('i = ', 'j= ',j)

i =  j=  0
i =  j=  1
i =  j=  2
i =  j=  3
i =  j=  4
i =  j=  0
i =  j=  1
i =  j=  2
i =  j=  3
i =  j=  4
i =  j=  0
i =  j=  1
i =  j=  2
i =  j=  3
i =  j=  4
i =  j=  0
i =  j=  1
i =  j=  2
i =  j=  3
i =  j=  4
i =  j=  0
i =  j=  1
i =  j=  2
i =  j=  3
i =  j=  4

### While Loops

In [ ]:
num = 0
while num < 10:
    print(num)

##### Looping 'While True'

In [65]:
game_over = True

while game_over:
    print('infinite loop')
    if game_over == True:
        break

infinite loop

##### While & For Loops Used Together

In [71]:
num = 0
while num<5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print("for loop iteration: " + str(i))
        
        num+= 1

 While loop iteration: 0
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 2
for loop iteration: 0
for loop iteration: 1

 While loop iteration: 4
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [73]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [120]:
name = input("give me the name of your favorite book: ")

length = len(name)
print(length)

give me the name of your favorite book:  To Kill a Mockingbird

21

##### help()

In [130]:
help(range)

No Python documentation found for 'plus'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

##### isinstance()

In [132]:
print(isinstance(4.5, int))
if isinstance(4.5,float):
    print('float')

False
float

##### abs()

In [134]:
print(abs(-5))

5

### Try and Except

In [ ]:
try:
    num=0
    input_num=int(input('guess'))
    if input_num != input_num+num:
        input_num=input_num + num
        print("Your number is: " + str(input_num)
except:
              print("Change your input")

### Lists

##### Declaring Lists

In [75]:
list_1 =[] 
names= ['Max', 'Cindy', 'Kathy']
print(names)

['Max', 'Cindy', 'Kathy']

##### Indexing a List

In [73]:
print(names[::2])

['Max', 'Kathy']

##### .append()

In [75]:
names.append('Sam')
print(names)

['Max', 'Cindy', 'Kathy', 'Sam']

##### .insert()

In [77]:
names.insert(3,'Sam')
print(names)

['Max', 'Cindy', 'Kathy', 'Sam', 'Sam']

##### .pop()

In [79]:
my_name=names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Sam', 'Sam']


##### .remove()

In [77]:
names.remove('Cindy')
print(names)
while 'Sam' in names:
    names.remove('Sam')
print(names)

['Max', 'Kathy']
['Max', 'Kathy']

##### del()

In [85]:
del(names[1])
print(names)

['Max', 'Sam']

##### Concatenating Two Lists

In [91]:
list_2 = [0,1,2]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [85]:
names = ['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tom']]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tom']]
jim

##### Looping Through Lists

In [87]:
for i in range(len(names)):
    print(names[i])
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tom']
max
sam
josh
['sally', ['sue', 'jim'], 'tom']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [160]:
num=range(11)
for i in range(11):
    print(i*i*i)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [65]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime=range(101)
for i in prime:
    if i>1:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [112]:
age = input("What is your age?")
if int(age) < 18:
        print('kids')
elif int(age) >=18 and int(age)<=65:
        print('adults')
else:
    print('seniors')

What is your age? 66

seniors